store/
log/

quickfix/debug
quickfix/release
quickfix/*.user
quickfix/*.sdf
quickfix/*.opensdf
quickfix/*.suo
quickfix/*~
quickfix/*.lib
quickfix/*.lo
quickfix/*.in
quickfix/Makefile
quickfix/.deps
quickfix/*.png
quickfix/*.dot
quickfix/*.md5
quickfix/*.o
quickfix/*.d
quickfix/*.a
quickfix/.libs
quickfix/*.la
quickfix/*.so
quickfix/*.so.*
quickfix/*.dylib
quickfix/ChangeLog
quickfix/aclocal.m4
quickfix/config_unix.h
quickfix/config.log
quickfix/config.status
quickfix/config/
quickfix/configure
quickfix/libtool
quickfix/m4/libtool.m4
quickfix/m4/ltoptions.m4
quickfix/m4/ltsugar.m4
quickfix/m4/ltversion.m4
quickfix/m4/lt~obsolete.m4
quickfix/quickfix.pc
quickfix/stamp-h1
quickfix/bin/executor
quickfix/bin/ordermatch
quickfix/bin/tradeclient
quickfix/examples/executor/C++/executor
quickfix/examples/ordermatch/ordermatch
quickfix/examples/tradeclient/tradeclient
quickfix/include/
quickfix/src/at
quickfix/src/pt
quickfix/src/ut
quickfix/src/C++/Allocator.h
quickfix/test/at
quickfix/test/pt
quickfix/test/ut
quickfix/test/ut_debug
quickfix/test/cfg
quickfix/test/store
quickfix/autom4te.cache/
quickfix/lib/python3
quickfix/COPYING
quickfix/INSTALL
quickfix/*.db
quickfix/.vs
quickfix/core
quickfix/*.pyc
quickfix/\#*#
quickfix/*.log
quickfix/*.trs
quickfix/build*
quickfix/CMakeFiles
quickfix/CMakeCache.txt
quickfix/*.cmake
quickfix/.vscode
quickfix/.cache
quickfix/compile_commands.json
quickfix/*.vcxproj
quickfix/*.vcxproj.filters
quickfix/*.sln
