[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=/quickfix-project/config/FIX44.xml
# Turn on debug logging
LogIncomingMessages=Y
LogOutgoingMessages=Y
LogHeartbeats=Y
LogEventMessages=Y
HeartBtInt=30


[SESSION]
BeginString=FIX.4.4
SenderCompID=FIXCLIENT
TargetCompID=FIXSERVER
SocketConnectHost=quickfix-server
SocketConnectPort=5001
ResetOnLogon=Y
HeartBtInt=30
